tool = Instance.new("Tool", game.Lighting) 
handle = Instance.new("Part", tool) 
handle.Name = "Handle"

npc = Instance.new("Part", workspace) 
clicker = Instance.new("ClickDetector", npc)

clicker.MouseClick:Connect(function(jucator)	
	game:GetService("Chat"):Chat(npc, "Press the X key to continue...", Enum.ChatColor.Blue) 		
	mouse = game.Players.LocalPlayer:GetMouse() 
	mouse.KeyDown:connect(function(key)
	if key == "x" then 
		game:GetService("Chat"):Chat(npc, "You've pressed the X key. I've got something for you", Enum.ChatColor.Red)	
		giveme = tool:Clone()
		giveme.Parent = jucator.Backpack			
	end
end)
end)
